// SIDEBAR STYLES
.sidebar {
  height: 100%;
  @include remMarginTop(70px);
  padding-right: 1.5%;
  padding-left: 1.5%;
  &.sticky-top {
    top: 15%;
  }
  h2 {
    font-family: $rubik;
    font-weight: bold;
    text-transform: uppercase;
    color: $black;
    @include remFont(24px);
    @include remMarginBot(20px);
    @include remPadLeft(20px);
    &:before {
      display: inline-block;
      content: "";
      border-top: 5px solid $dark-blue;
      width: 2.5rem;
      @include remMarginRight(15px);
      transform: translateY(-6px);
    }
  }
  .about-me {
    @include remMargin(40px, 0px);
    .portrait {
      img {
        border-radius: 50%;
        border: 3px $dark-blue solid;
      }
    }
    .social-icons {
      @include remMarginTop(20px);
    }
    .description {
      @include remMarginTop(30px);
      h3 {
        font-family: $rubik;
        font-weight: 500;
        text-transform: capitalize;
        color: $black;
        @include remFont(22px);
      }
    }
  }
  #toc {
    @include remMarginBot(40px);
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: auto;
      height: 550px;
      scrollbar-color: $dark-blue #e0e0e0;
      scrollbar-width: thin;
      li {
        font-family: $rubik;
        color: $black;
        font-weight: 300;
        text-transform: capitalize;
        @include remMarginBot(15px);
        &:before {
          @include remPadRight(5px);
          color: $grey;
        }
        &.heading {
          @include remPadLeft(20px);
          &:before {
            content: '>';
          }
        }
        &.subheading {
          @include remPadLeft(32px);
          &:before {
            content: '-';
          }
        }
        span {
          &.number {
            float: right;
            border-radius: 5px;
            background-color: $tag-bg;
            @include remPad(0px, 5px);
            color: $grey;
          }
        }
        &.active {
          color: $dark-blue;
          font-weight: 400;
        }
        &:hover, a:hover, &:hover:before, &.active:before {
          color: $dark-blue;
        }
      }
    }
  }
}