// BASE STYLES
body {
    @include background('/assets/imgs/section-bg.jpg', top, center, repeat, initial);
}

section {
  &:not(#nav-content) {
    @include remPad(40px, 0px);
  }
  &#intro {
    @include remPad(20px, 0px);
  }
  &#single-wiki {
    @include remPad(24px, 0px);
  }
  &#breadcrumbs {
    @include remPadTop(40px);
    @include remPadBot(0px);
    &.article {
      padding-top: 0;
      .container {
        padding: 0;
        .btn-breadcrumb {
          @include remMarginBot(10px);
        }
      }
    }
  }
  &:not(.error-page, .single-page) {
    &#top-page {
      @include background('/assets/imgs/header-bg.jpg', bottom, center, no-repeat, cover);
      #intro {
        .title {
          h2 {
            font-family: $rubik;
            @include remFont(40px);
            color: $black;
            font-weight: 500;
          }
        }
      }
    }
  }
}

p, li {
  @include remFont(17px);
  font-family: $rubik;
  font-weight: 300;
  color: $black;
  &.figure-label {
    font-style: italic;
    text-align: center;
    @include remPadTopBot(10px);
  }
}

.text {
  @extend p;
  text-align: left;
  @include remFont(17px);
}

.wp-block-table {
  width: 100%;
  font-family: $rubik;
  @include remMarginTop(20px);
  @include remMarginBot(20px);
  table {
    width: 100%;
  }
  thead {
    font-weight: 500;
  }
  tbody {
    font-weight: 300;
  }
  thead, tbody {
    td {
      @include remPad(15px, 10px);
      border: 1px solid rgba(25, 146, 216, 0.1);
      background-color: rgba(241, 252, 254, 0.3);
    }
  }
}

.wp-block-image {
  @include remMarginTop(10px);
  figure {
    figcaption {
      text-align: center;
    }
  }
}

.demo {
  @include remMarginTop(40px);
  @include remMarginBot(40px);
  h2 {
    font-family: $rubik;
    font-weight: 500;
    text-transform: capitalize;
    @include remFont(24px);
  }
}

.social-icons {
  text-align: center;
  a {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    @include remPadAll(0px);
    @include remMargin(0px, 10px);
    svg {
      @include remMargin(10px, 10px);
      @include remFont(26px);
      &.fa-linkedin {
        color: #0976b4;
      }
      &.fa-github {
        color: #454545;
      }
      &.fa-mug-hot {
        color: #6a5342;
      }
    }
    &:hover {
      background-color: $black !important;
      svg {
        &.fa-linkedin, &.fa-github, &.fa-mug-hot {
          color: #fff;
        }
      }
    }
  }
  &.icon-border {
    a {
      @include boxShadow(0px, 0px, 10px, rgba(25, 146, 216, 0.3));
      &:hover {
        box-shadow: none;
      }
    }
  }
}

.cta {
  p {
    font-family: $rubik;
    font-weight: 500;
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    @include remPadLeftRight(0px);
    svg {
      @include remMarginLeft(5px);
    }
  }
}

.project-item {
  @include remMarginBot(20px);
  .content {
    position: relative;
    a {
      text-decoration: none;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: #40d9f1;
  }
}

ul, ol {
  margin-left: 0;
}

pre {
  color: #fff;
  background: #1b1b1b; // #f1fcfe;
  hyphens: none;
  position: relative;
  line-height: 24px;
  border-radius: 8px;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  overflow: hidden;
  clear: both;
  &[rel]:not([rel=""])::before {
    font-family: $dm-sans;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .5rem;
    content: attr(rel);
    color: #fff;
    position: absolute;
    right: .5rem;
    padding: 0;
    color: #ff7a18 !important;
  }
  code {
    scrollbar-color: #666 #201c29;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    display: block;
    max-width: 100%;
    min-width: 100px;
    @include remFont(14px);
    @include remPadAllMulti(18px, 20px, 15px, 22px);
    line-height: 1.75;
    p {
      font-family: inherit;
      font-size: inherit !important;
      margin: 0 auto;
    }
  }
}

p > code, li > code, td > code {
  color: $dark-blue;
  background-color: #f9f2f4;
  font-weight: bold;
  border-radius: 4px;
  @include remFont(14px);
  @include remPad(2px, 4px);
}

code {
  color: $black;
  span {
    &.default {
      color: #fff;
    }
    &.string, &.function {
      color: #b9a81f;
    }
    &.number, &.func-def {
      color: #d14;
    }
    &.comment {
      color: #998;
      font-style: italic;
    }
    &.keyword {
      color: $dark-blue; 
    }
    &.class {
      color: #008080; 
    }
    &.long-comment {
      color: #ac7228;
    }
  }
}

// Reference: https://bootsnipp.com/snippets/y4Qa
.btn-breadcrumb {
  .btn {
    color: #fff;
    @include remPadTopBot(6px);
    @include remPadLeftRight(24px);
    &:not(:last-child) {
      &::after, &::before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -17px;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        z-index: 3;
      }
      &::after {
        border-left: 10px solid $dark-blue;
      }
      &::before {
        border-left: 10px solid $dark-blue;
        margin-left: 1px;
      }
    }
    &:first-child, &:last-child {
      @include remPadTopBot(6px);
    }
    &:first-child {
      @include remPadLeftRight(15px);
    }
    &:last-child {
      @include remPadLeftRight(24px);
    }
    &.btn-primary {
      border-color: #fff;
      background-color: $dark-blue;
      transition: $base-transition;
      &:not(.project-tag, .date-text) {
        &:last-child {
          background-color: #eee;
          color: $black;
        }
      }
      &:not(:last-child) {
        &::after {
          transition: $base-transition;
          border-left: 10px solid $dark-blue;
        }
        &::before {
          transition: $base-transition;
          border-left: 10px solid #fff;
        }
      }
      &:hover {
        &:not(:last-child) {
          background-color: $black;
          transition: $base-transition;
          &::after {
            transition: $base-transition;
            border-left: 10px solid $black;
          }
          &::before {
            transition: $base-transition;
            border-left: 10px solid #fff;
          }
        }
        a {
          color: #fff;
        }
        &.project-tag {
          background-color: $black;
        }
      }
      &.project-tag {
        &:not(:last-child) {
          @include remPadRight(13px);
        }
      }
      &.tag-icon, &.tag-icon:hover {
        background-color: #eee;
        color: $black;
        &::after {
          border-left-color: #eee;
        }
      }
      &.project-tag, &.tag-icon {
        @include remPadTopBot(4px);
        &::after, &::before {
          margin-top: -15px;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
        }
        a {
          font-weight: 300;
        }
      }
      &:last-child, &.date-text, &.tag-icon {
        cursor: default;
      }
      &.date-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
      }
    }
  }
}