<footer id="colophon" class="site-footer">
    <!-- FOOTER
    ============================================================================== -->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 footer-text align-self-center text-center text-md-start mb-3 mb-md-0">
            <p>&copy; {{ site.footer_text }}</p>
          </div> <!-- footer-text -->
          <div class="col-sm-12 col-md-6 social-icons text-center text-md-end">
            {%- include page_parts/social-btn.html name="linkedin" url=site.linkedin_url -%}
            {%- include page_parts/social-btn.html name="github" url=site.github_url -%}
          </div><!-- social-icons -->
        </div><!-- row -->
        <div id="back-to-top">
          <a class="top-link hide">
          <i class="fas fa-arrow-up"></i>
          </a>
        </div> <!-- #back-to-top -->
      </div><!-- container -->
    </section><!-- section -->

</footer><!-- footer -->
