<nav id="site-navigation" class="main-navigation navbar navbar-light navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            Ryan.<span class="me-text">me</span>
        </a><!-- .navbar-brand -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button><!-- .navbar-toggler -->
        
        <div id="mainNavBar" class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto navbar-nav-scroll text-center">
                <li class="nav-item">
                    <a href="/" aria-current="page" class="nav-link">
                        Home
                    </a>
                </li><!-- .nav-item -->
                <li class="nav-item">
                    <a href="/{{ vars.about_page_url }}" class="nav-link">
                        About<br>
                        <span>Personal Info</span>
                    </a>
                </li><!-- .nav-item -->
                <li class="nav-item">
                    <a href="/{{ vars.portfolio_page_url }}" class="nav-link">
                        Portfolio<br>
                        <span>Selected Works</span>
                    </a>
                </li><!-- .nav-item -->
                <li class="nav-item">
                    <a href="/{{ vars.wiki_page_url }}" class="nav-link">
                        Wiki<br>
                        <span>Collected Writing</span>
                    </a>
                </li><!-- .nav-item -->
            </ul><!-- .navbar-nav -->
        </div><!-- #mainNavBar -->

    </div><!-- .container -->
</nav><!-- #site-navigation -->
