<div class="row" id="intro">
    <div class="col-12">
        <h2>Contents</h2>
        <ol class="contents">
            <a rel="noopener" href="#project"><li>What is the Project?</li></a>
            <a rel="noopener" href="#environment"><li>The Environment</li></a>
            <a rel="noopener" href="#results"><li>Solving the Environment</li></a>
        <ul class="sublist">
            <a rel="noopener" href="#prediction"><li>Prediction</li></a>
        </ul>
        </ol>
    </div>
</div>
