<!-- WIKI COMPONENTS
============================================================================== -->
<section id="articles">
    <div class="container">
        <div class="row">
            {%- assign sorted = page.list_type | sort -%}
            {%- for item in sorted -%}
            <div class="article-item col-md-6 col-xl-4">
                <a href="{{ category.url }}">
                    <div class="content">
                        <div class="description">
                            {%- for site_tag in site.tags -%}
                                {%- if item.tag == site_tag.slug -%}
                                <div class="row parent-tag">
                                    <div class="icon col-3 col-sm-2 col-md-3 col-lg-2">
                                        <i class="{{ site_tag.icon }}"></i>
                                    </div><!-- icon -->
                                    <div class="tag-text col-9 col-sm-10 col-md-9 col-lg-10">
                                        <p class="title">{{ site_tag.title }}</p>
                                        <p>{{ page.type }}</p>
                                    </div><!-- text -->
                                </div> <!-- tag -->
                                {%- endif -%}
                            {%- endfor -%}
                            <div class="text">
                                <h2>{{ item.title }}</h2>
                                <p>{{ item.desc }}</p>
                                <div class="row">
                                    <div class="offset-6 col-6 cta text-end">
                                        <i class="fas fa-arrow-alt-circle-right"></i>
                                    </div><!-- .cta -->
                                </div> <!-- .row -->
                            </div><!-- .text -->
                        </div><!-- .description -->
                    </div><!-- .content -->
                </a>
            </div><!-- .article-item -->
            {%- endfor -%}
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #articles -->