<!-- ARTICLES
============================================================================== -->
<section id="articles">
    <div class="container">
        <div class="row">
            {%- assign sorted = site.blog_articles | sort: 'date' | reverse -%}
            {%- for article in sorted -%}
                {%- if article.topic == page.slug -%}
                <div class="project-item col-md-6 col-xl-4">
                    <div class="content">
                        <div class="img-container">
                            <a href="{{ article.url }}">
                                {%- include page_parts/image.html url=article.img_url alt=article.title -%}
                            </a>
                        </div><!-- .img-container -->
                        <div class="description">
                        <a href="{{ article.url }}">
                            <div class="text">
                            <h2>{{ article.title }}</h2>
                            <p>{{ article.desc }}</p>
                            <div class="row">
                                <div class="col cta text-end">
                                    <i class="fas fa-arrow-alt-circle-right"></i>
                                </div><!-- .cta -->
                            </div> <!-- .row -->
                            </div><!-- .text -->
                        </a>
                        </div><!-- .description -->
                    </div><!-- .content -->
                </div><!-- .project-item -->
                {%- endif -%}
            {%- endfor -%}
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #articles -->