// COOKIE BAR STYLES
.cli-plugin-button {
    transition: $base-transition;
}

.cli-switch {
    input:checked{
        + .cli-slider {
            background-color: $blue;
        }
    }
} 

.cli-tab-footer {
    .wt-cli-privacy-accept-btn {
        background-color: $blue;
    }
}