// RESPONSIVE STYLES
@media only screen and (max-width: 480px) {
  #top-home {
    #intro-home {
      .title {
        .blue-underline {
          &:after {
            bottom: 5px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #top-home {
    #intro-home {
      .title {
        .blue-underline {
          &:after {
            bottom: 8px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #top-home {
    #intro-home {
      .title {
        .blue-underline {
          &:after {
            bottom: 10px;
          }
        }
      }
    }
  }
}