{%- assign linkedin_url = 'https://www.linkedin.com/in/ryan-partridge-08b7118b/' -%}
{%- assign github_url = 'https://github.com/Achronus' -%}

{%- assign about_page_url = 'about' -%}
{%- assign portfolio_page_url = 'portfolio' -%}
{%- assign wiki_page_url = 'wiki' -%}

<!DOCTYPE html>
<html lang="en-GB">
    {%- include head.html -%}
    <body>
        {%- include header.html -%}
        <main class="page-content" aria-label="Content">
            <!-- INTRO
            ============================================================================== -->
            <section id="intro">
                <div class="container">
                    <div class="row">
                        <div class="col-auto title">
                            <h2>{{ page.title }}</h2>
                        </div><!-- .title -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- #intro -->
            {{ content }}
        </main>
        {%- include footer.html -%}
    </body>
</html>
