{%- assign linkedin_url = 'https://www.linkedin.com/in/ryan-partridge-08b7118b/' -%}
{%- assign github_url = 'https://github.com/Achronus' -%}

{%- assign about_page_url = 'about' -%}
{%- assign portfolio_page_url = 'portfolio' -%}
{%- assign wiki_page_url = 'wiki' -%}

<!DOCTYPE html>
<html lang="en-GB">
    {%- include head.html -%}
    <body>
        <section id="top-home" class="default-page">
            {%- include header.html -%}
            {{ content }}
        </section><!-- #top-home -->
    </body>
</html>
