<!DOCTYPE html>
<html lang="en-GB">
    {%- include head.html -%}
    <body id="page single-page">
        <section id="top-page" class="single-page">
            {%- include header.html -%}
        </section><!-- #top-page -->

        <!-- CONTENT
        ============================================================================== -->
        <section id="single-project">
            {%- include page_parts/single-header.html -%}
            <div class="container-fluid">
                <div class="row">
                    {%- include page_parts/sidebar.html -%}
                    <div class="col-12 col-sm-10 col-lg-8 col-xl-6 offset-0 offset-sm-1 offset-lg-2 offset-xl-0 page-content">
                        <div class="description">
                            {{ content }}
                        </div><!-- .description -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </section><!-- #single-project -->
        {%- include footer.html -%}
    </body>
</html>
