<!DOCTYPE html>
<html lang="en-GB">
    {%- include head.html -%}
    <body id="page {{ page.id }}">
        <section id="top-page" class="default-page">
        {%- include header.html -%}
            <!-- INTRO
            ============================================================================== -->
            <section id="intro">
                <div class="container">
                    <div class="row">
                        <div class="col-auto title">
                            <h2>{{ page.title }} {{ page.type | capitalize }}s</h2>
                        </div><!-- .title -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- #intro -->
        </section><!-- #top-page -->

        {%- include breadcrumbs.html -%}

        <!-- DESCRIPTION
        ============================================================================== -->
        <section id="description">
            <div class="container">
                <div class="row">
                    <div class="col-auto text">
                        {{ page.content }}
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </section><!-- #description -->

        {%- if page.type == 'topic' -%}
            {%- include wiki-topics.html -%}
        {%- elsif page.type == 'article' -%}
            {%- include wiki-articles.html -%}
        {%- endif -%}
        {%- include footer.html -%}
    </body>
</html>
