<!DOCTYPE html>
<html lang="en-GB">
    {%- include head.html -%}
    <body id="{{ page.id }} page">
        <section id="top-page" class="default-page">
        {%- include header.html -%}
            <!-- INTRO
            ============================================================================== -->
            <section id="intro">
                <div class="container">
                    <div class="row">
                        <div class="col-auto title">
                            <h2>{{ page.title }} Topics</h2>
                        </div><!-- .title -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- #intro -->
        </section><!-- #top-page -->
        {{ content }}
        {%- include footer.html -%}
    </body>
</html>
