// PORTFOLIO PAGE
#portfolio {
  @include remMargin(40px, 0px);
  .description {
    .tags {
      .project-tag {
        color: $dark-blue;
      }
    }
    .text {
      @include remPadTop(10px);
    }
  }
}

#portfolio, #articles {
  .content {
    background-color: $light-torquoise;
    border: 3px solid $light-torquoise;
    border-radius: 5px;
    transition: $base-transition;
    margin: 0;
    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 273px;
      background-color: #fff;
    }
    .description {
      @include remPadAll(15px);
      margin: 0;
      .text {
        font-family: $rubik;
        h2 {
          color: $black;
          font-weight: 500;
          @include remFont(24px);
          @include remMarginTop(10px);
        }
        p {
          @include remFont(15px);
          @include remMarginTop(20px);
          @include remMarginBot(20px);
        }
        &:hover {
          .cta {
            svg {
              color: $black;
              transition: $base-transition;
            }
          }
        }
      }
    }
    &:hover {
      transition: $base-transition;
      transform: translateY(-10px);
    }
    .cta {
      svg {
        background-color: #fff;
        color: $dark-blue;
        border-radius: 50%;
        @include remFont(30px);
        transition: $base-transition;
      }
    }
  }
}

.tags {
  .project-tag {
    color: $black;
  }
}