// PORTFOLIO PAGE
#portfolio-filter {
  .filter-btns {
    button {
      &.btn-link {
        text-decoration: none;
        color: $black;
        &:hover {
          color: $dark-blue;
          transition: $base-transition;
        }
      }
      &.active {
        color: $dark-blue;
      }
    }
  }
}

#portfolio {
  @include remMargin(40px, 0px);
  height: 60vh;
  .project-item {
    .description {
      .tags {
        .project-tag {
          color: $dark-blue;
        }
      }
      .text {
        @include remPadTop(10px);
      }
    }
    display: none;
    -webkit-animation: hideItem 700ms ease both;
    animation: hideItem 700ms ease both;
    &.show {
      display: block;
      -webkit-animation: showItem 700ms ease both;
      animation: showItem 700ms ease both;
    }
  }
}

@-webkit-keyframes hideItem {
  0% { -webkit-transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
  100% { -webkit-transform: scale(0) rotate(-12deg); opacity: 0; visibility: hidden; }
}

@keyframes hideItem {
  0% { transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
  100% { transform: scale(0) rotate(-12deg); opacity: 0; visibility: hidden;  }
}

@-webkit-keyframes showItem {
  0% { -webkit-transform: scale(0) rotate(12deg); opacity: 0; visibility: hidden;  }
  100% { -webkit-transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
}

@keyframes showItem {
  0% { transform: scale(0) rotate(12deg); opacity: 0; visibility: hidden;  }
  100% { transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
}

#portfolio, #articles {
  .content {
    background-color: $light-torquoise;
    border: 3px solid $light-torquoise;
    border-radius: 5px;
    transition: $base-transition;
    margin: 0;
    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 273px;
      background-color: #fff;
    }
    .description {
      @include remPadAll(15px);
      margin: 0;
      .text {
        font-family: $rubik;
        h2 {
          color: $black;
          font-weight: 500;
          @include remFont(24px);
          @include remMarginTop(10px);
        }
        p {
          @include remFont(15px);
          @include remMarginTop(20px);
          @include remMarginBot(20px);
        }
        &:hover {
          .cta {
            svg {
              color: $black;
              transition: $base-transition;
            }
          }
        }
      }
    }
    &:hover {
      transition: $base-transition;
      transform: translateY(-10px);
    }
    .cta {
      svg {
        background-color: #fff;
        color: $dark-blue;
        border-radius: 50%;
        @include remFont(30px);
        transition: $base-transition;
      }
    }
  }
}

.tags {
  .project-tag {
    color: $black;
  }
}