// PROJECT SINGLE PAGE
.single-page {
  #site-navigation {
    background-color: #fff;
    height: 10vh;
    z-index: 170;
    border-bottom: 1px solid #eee;
    width: 100%;
    position: fixed;
    top: 0;
    #mainNavBar {
      margin-top: 0 !important;
      .nav-link {
        @include remFont(18px);
      }
    }
  }
}

#single-project {
  .header {
    h3, h2, p, a {
      color: $black;
    }
    h3 {
      font-family: $rubik;
      font-weight: 300;
    }
    h2 {
      font-family: $dm-sans;
      font-weight: 600;
    }
    p {
      font-family: $dm-mono;
    }
    .code {
      a {
        font-family: $dm-sans;
        font-weight: 300;
        transition: $base-transition;
        svg {
          @include remMarginRight(5px);
        }
        &:hover {
          color: $dark-blue;
          transition: $base-transition;
        }
      }
    }
  }
  .description {
    font-family: $rubik;
    font-weight: 300;
    color: $black;
    @include remFont(16px);
    @include remMarginTop(60px);
    @include remMarginBot(60px);
    font-family: $rubik;
    .wp-block-table {
      ul {
        margin: 0;
        display: inline-block;
        @include remPadLeft(15px);
        @include remMarginLeft(15px);
        padding-right: 0 !important;
        li {
          text-transform: capitalize;
          margin-bottom: 0 !important;
          &::marker {
            color: $torquoise;
          }
        }
        &:nth-child(1) {
          margin: 0;
        }
      }
    }
    h2 {
      @include remMarginTop(40px);
      @include remMarginBot(10px);
      @include remFont(30px);
      @include remPadBot(10px);
      border-bottom: 1px solid #eee;
    }
    h3 {
      @include remFont(26px);
      @include remMarginBot(10px);
      @include remMarginTop(20px);
      font-weight: 400;
    }
    p {
      @include remFont(17px);
      &.quote {
        font-style: italic;
        text-align: center;
      }
      span {
        &.med {
          font-weight: 500;
        }
      }
    }
    ul, ol {
      &:not(.contents) {
        @include remPadRight(50px);
        li {
          @include remMarginBot(10px);
          span {
            &.med {
              font-weight: 500;
            }
          }
        }
      }
      &.contents {
        li {
          @include remMarginBot(5px);
          @include remMarginTop(5px);
        }
      }
      &.sublist {
        @include remPadLeft(15px);
        li {
          @include remMarginBot(2px);
          @include remMarginTop(0px);
        }
      }
    }
    a {
      color: $blue;
      transition: $base-transition;
      @include remMarginBot(5px);
      &:hover {
        color: $torquoise;
        transition: $base-transition;
      }
    }
  }
  .img-container {
    .img-center {
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }
  .anchor {
    position: relative;
    top: -100px;
  }
}

.text-abstract {
  @include remPadLeft(15px);
  @include remPadRight(40px);
  font-style: italic;
}
