// PROJECT SINGLE PAGE
.single-page {
  #site-navigation {
    background-color: #fff;
    height: 10vh;
    z-index: 170;
    border-bottom: 1px solid #eee;
    width: 100%;
    position: fixed;
    top: 0;
    #mainNavBar {
      margin-top: 0 !important;
      .nav-link {
        @include remFont(18px);
      }
    }
  }
}

#single-project {
  .header {
    h3, h2, p, a {
      color: $black;
    }
    h3 {
      font-family: $rubik;
      font-weight: 300;
    }
    h2 {
      font-family: $dm-sans;
      font-weight: 600;
    }
    p {
      font-family: $dm-mono;
    }
    .code {
      a {
        font-family: $dm-sans;
        font-weight: 300;
        transition: $base-transition;
        svg {
          @include remMarginRight(5px);
        }
        &:hover {
          color: $dark-blue;
          transition: $base-transition;
        }
      }
    }
  }
}

.text-abstract {
  @include remPadLeft(15px);
  @include remPadRight(40px);
  font-style: italic;
}
